:root {
    --cartao-verde: #d2d09f;
    --cartao-amarelo:#e9d7a9;
    --cartao-salmao: #d7b395;
}

body {
    font-family: 'Mallanna', sans-serif;
    font-family: 'Cabin', sans-serif;
    max-width: 100%;
    background-color:#ece3cc;
}

header {
    width: 100 px;
    border-bottom: 1px solid;
    border-color:#b56a65 ;
    margin-bottom: 40px;
    text-align: center;
    background-color:  #d5a57f;
}

h1 {
    margin-bottom: 0;
    text-transform: uppercase;
    font:'Cabin', sans-serif;
    font-weight: bolder;
    color:#4b3132;
}
    
h2 {
    font: 'Cabin', sans-serif;
    font-size: larger;
    font-weight: 200;
}
    
div.dicionario {
    background-color:#ece3cc;
    display: block;
    margin: 0 auto;
    padding: auto;
    color: #000;
    max-width: 1024px;
    width: 100%;
    border-radius: 1%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}   

div.cartao {
    margin: 10px;
    vertical-align: top;
    max-width: 100%;
    display: inline-block;
    border-radius: 1%;
    justify-content:space-between;

}

div.marielle.cartao {
    background-color:#d2d09f;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    justify-content:space-between;
}

div.lelia.cartao {
    background-color: #e9d7a9;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    justify-content:space-between;
}

div.angela.cartao {
    background-color: #d7b395;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    justify-content:space-between;
}

div.carolina.cartao {
    background-color: var(--cartao-amarelo);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    justify-content:space-between;
}

div.rosa.cartao {
    background-color: var(--cartao-salmao);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    justify-content:space-between;
}

div.conceicao.cartao {
    background-color: var(--cartao-verde);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    justify-content:space-between;

}

div.imagem {
    width: 300px;
    height: 300px;
    display: block;  
}

img {
    margin:20px;
    border-radius: 3%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


details {
    width: 300px;
    height: auto;
    display: inline-block;
}

summary {
    font-size: 18px;
    padding: 10px;
    border-top: 1px solid;
}

p {
    padding: 0 10px;
}

blockquote {
    color: #777;
    font-style: italic;
}